<!DOCTYPE html>
<html>
  <head lang="fr">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/sprite.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/vendors/normalize.css/normalize.css">
    <title><%- title %></title>
  </head>
  <body>
    <div id="root"><%- content %></div>
    <script type="application/json" id="data"><%= data %></script>
    <script type="text/javascript" src="/public/js/bundle.js"></script>
  </body>
</html>
